[submodule "core"]
	path = core
	url = https://github.com/jibx/core
[submodule "jibx-parent"]
	path = jibx-parent
	url = https://github.com/jibx/jibx-parent
[submodule "schema-library"]
	path = schema-library
	url = https://github.com/jibx/schema-library
[submodule "sub-projects"]
	path = sub-projects
	url = https://github.com/jibx/sub-projects
[submodule "plugins/maven-plugin"]
	path = plugins/maven-plugin
	url = https://github.com/jibx/maven-plugin
[submodule "plugins/jibx-eclipse"]
	path = plugins/jibx-eclipse
	url = https://github.com/jibx/jibx-eclipse
[submodule "web-services/jibxws"]
	path = web-services/jibxws
	url = https://github.com/jibx/jibxws
[submodule "web-services/xbis"]
	path = web-services/xbis
	url = https://github.com/jibx/xbis
[submodule "artifacts"]
	path = artifacts
	url = https://github.com/jibx/artifacts.git
[submodule "external"]
	path = external
	url = https://github.com/jibx/external.git
