[submodule "core"]
	path = core
	url = github.com:jibx/core.git
[submodule "jibx-parent"]
	path = jibx-parent
	url = github.com:jibx/jibx-parent.git
[submodule "schema-library"]
	path = schema-library
	url = github.com:jibx/schema-library.git
[submodule "sub-projects"]
	path = sub-projects
	url = github.com:jibx/sub-projects.git
[submodule "plugins/maven-plugin"]
	path = plugins/maven-plugin
	url = github.com:jibx/maven-plugin.git
[submodule "plugins/jibx-eclipse"]
	path = plugins/jibx-eclipse
	url = github.com:jibx/jibx-eclipse.git
[submodule "web-services/jibxws"]
	path = web-services/jibxws
	url = github.com:jibx/jibxws.git
[submodule "web-services/xbis"]
	path = web-services/xbis
	url = github.com:jibx/xbis.git
